.filter-maincontainer select{
    border: 2px solid black;
    width: 14em;
    word-wrap: normal;
    height: 2.2em;
    color: #777;   
    font-weight: 500;
}

.filter-opt-1 {
    font-size: 0.9em;
}
