.sale_banner_container1 {
  cursor: pointer;
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
    .bottom-left {
      position: absolute;
      bottom: 2em;
      right: 6em;
      width: 58%;
      text-align: left;
      h3{
        
        font-size: 1.625em;
        line-height: 1;
        letter-spacing: -.05em;
        font-weight: 900;
      }
      h4{
        font-family: Open Sans,sans-serif;
        color: #777;
        font-weight: 400;
        font-size: .9375em;
        line-height: 1.4;
      }
    }
    
  }
  .footer-link {
    a{
      color: black !important;
    }
  }

  .sale_banner_container2 {
  cursor: pointer;

    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
    .bottom-left {
      position: absolute;
    bottom: 2em;
    right: 4em;
    width: 63%;
    text-align: center;
    top: 6em;
      h3{
        
        font-size: 1.625em;
        line-height: 1;
        letter-spacing: -.05em;
        font-weight: 900;
      }
      h4{
        font-family: Open Sans,sans-serif;
        color: #777;
        font-weight: 400;
        font-size: .9375em;
        line-height: 1.4;
      }
    }
    
  }
  .sale_banner_container3 {
  cursor: pointer;

    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
    .bottom-left {
      position: absolute;
      bottom: 2em;
      right: 2em;
      width: 78%;
      text-align: center;
      top: 12em;
      h3{
        
        font-size: 1.625em;
        line-height: 1;
        letter-spacing: -.05em;
        font-weight: 900;
        color: white;
      }
      h4{
        font-family: Open Sans,sans-serif;
        color: #777;
        font-weight: 400;
        font-size: .9375em;
        line-height: 1.4;
        color: rgb(130, 126, 126);

      }
    }
    
  }
  .sale_banner_container4 {
  cursor: pointer;

    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
    .bottom-left {
      position: absolute;
      bottom: 3em;
      right: 2em;
      width: 71%;
      text-align: center;
      border: 5px solid;
      padding: 30px;
      h3{
        
        font-size: 1.625em;
        line-height: 1;
        letter-spacing: -.05em;
        font-weight: 900;
      }
      h4{
        font-family: Open Sans,sans-serif;
        color: #777;
        font-weight: 400;
        font-size: .9375em;
        line-height: 1.4;
      }
      button{
        height: 4em;
        position: absolute;
        width: 77%;
        left: 26px;
        bottom: -28px;
      }
    }
    
  }
  
  


