.user-review-container {
    margin: 1em 3em 0 0;
    // border-bottom: 1px solid #7b858a35;
}

.userreview-tab-review-icon {
    font-size: 2em;
}

.userreview-tab-review-icon-div {
    display: flex;
    align-items: flex-end;
}

.userreview-tab-review-p {
    font-size: 0.8em;
    font-family: Open Sans,sans-serif;
    color: #7b858a;
    margin: 1em 2em 2em 2.9em ;
}

.user-review-col {
    border-bottom: 1px solid #7b858a35;
}

.userreview-tab-review-icon-p {
    font-size: 1em;
    margin: 0 0.5em 0 0;
    font-family: emoji;
}