$color-white: white;
$color-grey: rgb(204, 200, 200);
$color-dark-blue: rgb(0, 121, 202);
$color-blue: rgb(0, 135, 197);
$color-blue-button: rgb(26, 158, 219);
$color-light-blue: rgb(250, 253, 255);
$color-black: black;
$color-dark-grey: rgb(63, 63, 63);
$color-grey-text: rgb(122, 121, 121);
$color-gray-hover: gray;
$border: 1px solid black;
$border-grey: 2px solid $color-grey;
$border-grey-1px: 1px solid $color-grey;
$border-radius: 10px;
$shadow5: 1px 1px 10px $color-grey;


$font:Poppins,sans-serif;